<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Create Person</h2>
        </div>
        <div class="col-12">
            <p>Please create a new Person using the form below, all people created will appear on the Team creator</p>
        </div>
    </div>
    <div class="row">
        <form action="/person/create" method="post">
            <div class="mb-3">
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" class="form-control" id="firstname" placeholder="Firstname">
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Lastname</label>
                <input type="text" class="form-control" id="lastname" placeholder="Lastname">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="text" class="form-control" id="email" placeholder="Email Address">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phone" placeholder="Phone Number">
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
